<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>LabYak Farms</title>
    </head>
    <body>
        <img src="C:\Users\pya.tiluk\yakproject\yaklogo.png">
        <br>
        <form action="entry" method="post">
            {% for message in get_flashed_messages() %}
                <p>{{message}}</p>
            {% endfor %}
            <br>
            <input type="number" name="num_input">
            <br>
            <input type="submit" value="Order" id="order">
        </form>
    </body>
</html>