<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>LabYak YakShop</title>
        <link rel= "stylesheet" href = "{{
            url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <img src="https://raw.githubusercontent.com/Pyariksha/yakproject/master/Yaklogo.JPG">
        <br>
        <form action="reply" method="post">
            {% for message in get_flashed_messages() %}
                <p>{{message}}</p>
            {% endfor %}
            <br>
            <input type="number" min= "1" max= "10000" value = "0" name="1_input">
            <br>
            <input type="submit" value="Order milk (litres)" id="order1">
            <br>
            <input type="number" min = "1" max = "100" value = "0" name="2_input">
            <br>
            <input type="submit" value="Order skins (packs)" id="order2">
        </form>
        <br>
        <img src="https://github.com/Pyariksha/yakproject/blob/master/yak.gif">
    </body>
</html>