<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>LabYak Farms</title>
    </head>
    <body>
        <img src="https://raw.githubusercontent.com/Pyariksha/yakproject/master/Yaklogo.JPG">
        <br>
        <form action="entry" method="post">
            {% for message in get_flashed_messages() %}
                <p>{{message}}</p>
            {% endfor %}
            <br>
            <input type="text" name="num_input">
            <br>
            <input type="submit" value="ORDER" id="order">
        </form>
    </body>
</html>